# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go specific
/vendor/
/go.sum

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db